:root{
    /*--color-1: #2E4172;*/
    /*--color-2: #162855;*/
    /*--color-3: #4F618E;*/
    /*--color-4: #7886AB;*/
    /*--color-5: rgba(6, 21, 57, 0.3);*/
    --color-1: #4E74A6;
    --color-2: #263F73;
    --color-3: #95ACBF;
    --color-4: #95ACBF;
    --color-5: rgba(6, 21, 57, 0.3);

}

body{
    padding: 0;
    margin: 0;
    background-color: var(--color-1);
}

h1, h2, h3{
    padding: 0;
    margin: 0;
}

/*::-webkit-scrollbar {*/
    /*background-color: var(--color-3);*/
    /*width: 1em;*/
/*}*/

/*::-webkit-scrollbar-thumb:window-inactive,*/
/*::-webkit-scrollbar-thumb {*/
    /*background:  var( --color-2);*/
/*}*/


/*MOVIE LIST START*/

#movies-container{
    position: absolute;
    width: calc(100% - 40px);
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 100px);
}

.genre{
    /*height: 400px;*/
    overflow: auto;
    /*float:right;*/
    margin-right: 20px;
    display: inline-block;
    padding-top: 15px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    /*transform: translateX(-50%);*/
    width: auto;
    position: relative;
    height: auto;
    padding-bottom: 25px;
    background-color: var(--color-4);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
    user-select: none;
    transition: height 0.5s ease-in;
}


.genre-label{
    font-family: 'Jura', sans-serif;
    position: relative;
    padding: 3px 6px 3px 6px;
    background-color: var(--color-2);
    font-size: 40px;
    color: white;
    width: calc(100% - 30px);
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.4);
    user-select: none;
    -webkit-user-drag: none;
    transition: height 0.5s ease-in;
}



.video-item{
    position: relative;
    top: 20px;
    left: 0px;
    height: 308px;
    width: 220px;
    transition: 0.35s ease;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.4);
    -webkit-user-drag: none;
    user-select: none;
    overflow: hidden;
}

.menu-bar{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: var(--color-2);
    cursor: default;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: translateY(-30px);
}

.slideMenu{
    transform: translateY(0px);
}


.del-btn{
    position: relative;
    float:right;
    background-color: var(--color-1);
    color: white;
    top: 0;
    outline: none;
    border: none;
    height: 30px;
    margin-right: 4px;

    font-family: 'Jura', sans-serif;
}

.genre-btn {
    position: relative;
    float: right;
    background-color: var(--color-1);
    color: white;
    top: 0;
    outline: none;
    border: none;
    height: 30px;
    font-family: 'Jura', sans-serif;

}

.genre-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.2);
}

.del-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.2);
}



.video-item:hover{
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.5);
}

.video-name{
    position: absolute;
    bottom: 0;
    color: white;
    font-family: 'Jura', sans-serif;
    left: 50%;
    width: 220px;
    background-color: var(--color-2);
    text-align:  center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: translate(-50%, 200px);
}

.slideName{
    transform: translate(-50%, 0px);
}


.video-item:hover{
    cursor: pointer;
}

.video-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.add-movie{
    width: 40%;
    height: 250px;
    position: fixed;
    background-color: var(--color-2);
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.4);
    display: none;
}

.set-genre{
    width: 40%;
    height: 220px;
    position: fixed;
    background-color: var(--color-2);
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.4);
    display: none;
}



#overlay{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
}


.lds-facebook {
    display: inline-block;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: calc(30% + 250px);
    width: 64px;
    height: 64px;
    display: none;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}



#close-add{
    position:absolute;
    right: 15px;
    bottom: 55px;
    outline: none;
    border: none;
    font-family: 'Jura', sans-serif;
    color: white;
    padding: 6px;
    font-size: 32px;

    background-color: var(--color-3);
    cursor: pointer;
}

#add-movie{
    position:absolute;
    right: 140px;
    bottom: 55px;
    outline: none;
    border: none;
    font-family: 'Jura', sans-serif;
    color: white;
    padding: 6px;
    font-size: 32px;

    background-color: var(--color-3);
    cursor: pointer;
}




#close-genre{
    position:absolute;
    right: 15px;
    bottom: 20px;
    outline: none;
    border: none;
    font-family: 'Jura', sans-serif;
    color: white;
    padding: 6px;
    font-size: 32px;

    background-color: var(--color-3);
    cursor: pointer;
}

#set-genre{
    position:absolute;
    right: 140px;
    bottom: 20px;
    outline: none;
    border: none;
    font-family: 'Jura', sans-serif;
    color: white;
    padding: 6px;
    font-size: 32px;

    background-color: var(--color-3);
    cursor: pointer;
}

.add-movie h1{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    font-family: 'Jura', sans-serif;
    font-size: 2.5em;
    color: white;
}


#movie-name-display{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    font-family: 'Jura', sans-serif;
    font-size: 2.5em;
    color: white;
}



input#set-genre-text {
    font-family: 'Jura', sans-serif;
    width: calc(100% - 70px);
    height: 48px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    position: absolute;
    bottom: 90px;
    left: 15px;
    -webkit-app-region: no-drag;
}

input#movie-name {
    font-family: 'Jura', sans-serif;
    width: calc(100% - 70px);
    height: 48px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    position: absolute;
    bottom: 120px;
    left: 15px;
    -webkit-app-region: no-drag;
}

input#movie-genre {
    font-family: 'Jura', sans-serif;
    width: calc(100% - 280px);
    height: 48px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    position: absolute;
    bottom: 55px;
    left: 15px;
    -webkit-app-region: no-drag;
}


input#movie-name:focus {
    transition: 0.35s ease;
    box-shadow: 5px 5px 2px 2px var(--color-5);
}
input#movie-name:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#set-genre-text:focus {
    transition: 0.35s ease;
    box-shadow: 5px 5px 2px 2px var(--color-5);
}
input#set-genre-text:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}


.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: white;
    font-family: 'Jura', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 15px;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}
.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color-3);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.cbx span:last-child {
    padding-left: 8px;
}
.cbx:hover span:first-child {
    border-color: var(--color-1);
}

.inp-cbx:checked + .cbx span:first-child {
    background: var(--color-2);
    border-color: var(--color-1);
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}


/*MOVIE LIST STOP*/





.unstyled {
    margin: 0;
    list-style: none;
}
.unstyled a, .unstyled #test {
    width: 150px;
    text-decoration: none;
    padding: .5em 1em;
    background-color: #555;
    border-bottom: 2px solid #333;
    display: block;
    margin-bottom: .5em;
}
.unstyled a:hover, .unstyled #test:hover {
    background-color: #777;
    border-color: #777;
}

.cf, .alert {
    *zoom: 1;
}
.cf:before, .alert:before, .cf:after, .alert:after {
    display: table;
    content: "";
    line-height: 0;
}
.cf:after, .alert:after {
    clear: both;
}

#alerts {
    width: 400px;
    bottom: 12px;
    left: 50px;
    position: fixed;
    z-index: 9999;
    list-style: none;
}

.alert {
    width: 100%;
    margin-bottom: 8px;
    display: block;
    position: relative;
    border-left: 4px solid;
    right: -50px;
    opacity: 0;
    line-height: 1;
    padding: 0;
    transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms;
    display: table;
    font-family: 'Jura', sans-serif;
}

.alert:hover {
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.open {
    right: 0;
    opacity: 1;
    line-height: 2;
    padding: 10px 15px;
    transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
}

.alert-title {
    font-weight: bold;
    font-family: 'Jura', sans-serif;
}

.alert-block {
    width: 80%;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    text-align: left;
}
.alert-block em, .alert-block small {
    font-size: .75em;
    opacity: .75;
}

.alert i {
    font-size: 2em;
    width: 1.5em;
    max-height: 48px;
    top: 50%;
    margin-top: -12px;
    display: table-cell;
    vertical-align: middle;
}

.alert-success {
    color: #fff;
    border-color: #539753;
    background-color: #8fbf2f;
}

.alert-error {
    color: #fff;
    border-color: #7f0709;
    background-color: #bf074b;
}

.alert-info {
    color: #fff;
    border-color: var(--color-1);
    background-color: var(--color-3);
}

.alert-warning {
    color: #fff;
    border-color: #dd6137;
    background-color: #f7931d;
}


.min{
    height: 45px;
    overflow: hidden;
}

#reg{
    background-color: var(--color-3);
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: calc(80% - 200px);
    box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.3);
}


.inner{
    background-color: var(--color-2);
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
}

#signout{
    color: var(--color-3);
    transition: all 200ms;
    cursor: pointer;
 }

#signout:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid var(--color-3);
}


@import url(https://fonts.googleapis.com/css?family=Raleway:500);
#ajerez {
    position: absolute;
    top: 5px;
    right: 500px;
    z-index: 9999;
}
#ajerez img {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #7482A5;
    transition: border-radius 0.2s ease-in-out;
}
#ajerez img:hover {
    border-radius: 30%;

}


.menu-wrapper {
    position: fixed;
    right: 15px;
    top: 32px;

    width: 200px;
    height: 200px;
    transition: background-color 500ms;
    padding-top: 10px;
}


.menu {
    position: relative;
    width: 36px;
    height: 6px;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    margin: 5px;
    color: white;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu label {
    cursor: pointer;
    position: absolute;
    font-family: 'Jura', sans-serif;
    font-size: 40px;
    line-height: 30px;
    top: -12px;
    left: 48px;
}
.menu:hover > ul.nav-links, .menu.open > ul.nav-links {
    transition: all 0.25s ease-in-out;
    opacity: 1;
    width: 180px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    pointer-events: auto;
}
.menu:after, .menu:before {
    content: "";
    position: absolute;
    width: 36px;
    height: 6px;
    background-color: #7482A5;
    transition: all 0.25s ease-in-out;
}
.menu:after {
    top: 12px;
}
.menu:before {
    top: -12px;
}
.menu:hover, .menu.open {
    background-color: transparent;
}
.menu:hover::after, .menu:hover::before, .menu.open::after, .menu.open::before {
    transition: all 0.3s ease-in-out;
    width: 18px;
}
.menu:hover::after, .menu.open::after {
    -webkit-transform: translate(3px, -7px) rotate(405deg);
    transform: translate(3px, -7px) rotate(405deg);
}
.menu:hover::before, .menu.open::before {
    -webkit-transform: translate(12px, 17px) rotate(-405deg);
    transform: translate(12px, 17px) rotate(-405deg);
}
.menu ul.nav-links {
    margin: 0;
    padding: 36px 0 0 0;
    opacity: 0;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    transition: all 0.25s ease-in-out;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
}
.menu ul.nav-links li {
    width: 100%;
    padding: 4px 8px;
    list-style-type: none;
    font-family: 'Jura', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    border-left: 2px solid #7482A5;
    background-color: var(--color-2);
}
.menu ul.nav-links li:hover, .menu ul.nav-links li.active {
    color: white;
    border-left: 2px solid white;
    background-color: var(--color-1);
}

